[id="projects"] {
    margin: 50px auto;
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

[id="projects"] .works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    gap: 2rem;
}

[id="projects"] h1 {
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
}

[id="projects"] figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 200px;
    height: 40px;
}

[id="projects"] .project-picture {
    width: 100%;
    height: 100%;
    transition: transform 0.1s;
}

[id="projects"] h2 {
    margin: 1rem 0;
    font-size: 2rem;
    text-align: center;
}

[id="projects"] p {
    max-width: 52rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    padding: 2rem;
}

[id="projects"] section p {
    color: black;
    margin: 1rem 0 0;
    font-weight: 300;
    padding: 0;
    line-height: normal;
}

[id="projects"] figure img {
    display: block;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

[id="projects"] .works article {
    width: calc(35% - 1.3rem);
    padding: 3rem;
    border: 3px solid rgb(250, 190, 38);
    border-radius: 0.3rem;
    position: relative;
    min-height: 280px;
}

[id="projects"] .works article a:hover {
    background-color: rgb(250, 190, 38);
}

[id="projects"] .githubIcon {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    cursor: pointer;
    color: rgb(250, 190, 38);
    height: 1.5rem;
    width: 1.5rem;
}

[id="projects"] .langages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}


[id="projects"] .langagesBox {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    font-size: 0.85rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    transition: border-color 0.5s ease;
}

[id="projects"] .langagesBox:hover {
    background-color: rgb(250, 190, 38);
}

[id="projects"] .button {
    justify-content: center;
    align-items: center;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    width: 160px;
    color: rgb(30, 30, 30);
    margin-top: 2rem;
}

[id="projects"] .button:hover {
    background: rgb(250, 190, 38);
}

@keyframes shake {
    0% {
        transform: translate(1px, 0);
    }

    25% {
        transform: translate(-1px, 0);
    }

    50% {
        transform: translate(1px, 0);
    }

    75% {
        transform: translate(-1px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.works article:hover .project-picture {
    animation: shake 0.5s ease-in-out;
}


@media (max-width: 1020px) {
    [id="projects"] .works article {
        width: calc(100% - 1.3rem);
        margin-right: 0;
        margin: 0 1rem;
    }

    [id="projects"] figure {
        width: 100%;
        height: 50px;
    }
}