[id=skills] {
    overflow: hidden;
    width: 100vw;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

[id=skills] header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

[id=skills] article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    width: 70%;
}

[id=skills] h2 {
    margin: 1rem 0;
    font-size: 3rem;
    text-align: center;
}

[id=skills] h3 {
    display: flex;
    flex-flow: column;
    place-items: center;
    margin: 15px 0;
    width: 20%;
    place-self: center;
}

[id=skills] img {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    transition: transform 0.3s ease;
}

[id=skills] img:hover {
    transform: scale(1.4);
}

[id=skills] p {
    max-width: 52rem;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
    padding: 2rem;
}

[id=skills] ul {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75rem;
    padding-left: 40px;
    width: 80%;
}

@media (max-width: 1200px) {
    [id=skills] {
        margin: auto;
    }
}

@media (max-width: 768px) {
    [id=skills] {
        margin: auto;
    }

    [id=skills] header {
        text-align: start;
    }

    [id=skills] article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 15px;
    }

    [id=skills] ul {
        width: 100%;
    }

    [id=skills] img {
        margin-right: 0;
    }

    [id=skills] h3 {
        text-align: center;
    }

    [id=skills] p {
        text-align: center;
        font-size: 1.2rem;
    }
}

@media (min-width: 1536px) {
    [id=skills] {
        max-width: 1530px;
    }

    [id=skills] h2 {
        font-size: 4rem;
    }

    [id=skills] p {
        font-size: 1.5rem;
        max-width: 1530px;
    }

    [id=skills] img {
        height: 6rem;
        width: 6rem;
    }

    [id=skills] article {
        width: 100%;
        padding: 3rem;
    }

    [id=skills] ul {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}