[id="about"] {
    max-width: 950px;
    height: 90vh;
    padding: 2rem;
    margin: auto;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[id="about"] h1 {
    background: linear-gradient(90deg, #ffffff, goldenrod 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

[id="about"] p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

@media (max-width: 1024px) {
    [id="about"] {
        width: 80%;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 768px) {
    [id="about"] {
        width: 90%;
        height: 80vh;
        margin: auto;
        padding: 0;
    }

    [id="about"] h1 {
        font-size: 1.9rem;
        text-align: center;
    }

    [id="about"] p {
        font-size: 1.2rem;
        text-align: center;
    }

}