footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #4f4e4e;
    font-size: small;
    font-weight: 300;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

footer ul li {
    cursor: pointer;
}

footer ul li:hover {
    color: rgb(250, 190, 38);
}

footer i {
    font-size: 1rem;
}