footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: white;
    font-size: small;
    font-weight: 300;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

footer ul li {
    cursor: pointer;
}

footer ul li:hover {
    color: rgb(250, 190, 38);
}

footer i {
    font-size: 1.2rem;
}

@media (max-width: 768px) {

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (min-width: 1536px) {
    footer {
        font-size: 1.5rem;
    }

    footer ul li i {
        font-size: 2rem;
    }
}